.header {
  height: 40vh;
  background-image: linear-gradient(to right, #2c668d, #42c794);
  position: relative;
}
.header ul {
  display: inline;
  color: #201f6e;
  list-style: none;
}

.logo-box {
  display: flex;
  align-items: flex-start;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

.logo {
  padding: 5px;
  width: 80px;
  height: 80px;
  color: white;
}

.header-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main {
  letter-spacing: 2.5rem;
  font-size: 5rem;
  animation: moveInleft 1.5s;
}
.main,
.secondary {
  color: rgb(255, 255, 255);
  display: block;
}
.secondary {
  font-size: 45px;
  display: block;
  letter-spacing: 13px;
  font-weight: 400;
  animation: moveInright 1.5s;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.btn-white {
  background-color: rgb(42, 165, 104);
  border-radius: 50px;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(24, 77, 50, 0.486);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(24, 77, 50, 0.486);
}

.inline-list {
  display: inline;
}

.navbar-list {
  align-self: flex-end;
  margin: auto;
  margin-top: 5px;
}
